#header ,#top-search-wrap{
	background: #059D22;	
}

.product_list,.user_list{
	display: none;
}

.profile-avatar > li > a {
	padding: 3px 66px 4px 8px;
}
.profile-avatar > li > a > img{
	width: 47px;
	height: 47px;
	border-radius: 50%;
	border: 3px solid rgba(0, 0, 0, 0.14);
	box-sizing: content-box;
}

#btnUpdateuser,
#btnUpdateClient,
#btnUpdateCategory,
#btnUpdateItemUnit,
#btnUpdateProduct{
	display: none;
}
