#header ,#top-search-wrap{
	background: #059D22;	
}

.product_list,.user_list,#btnUpdateService{
	display: none;
}

.profile-avatar > li > a {
	padding: 3px 66px 4px 8px;
}
.profile-avatar > li > a > img{
	width: 47px;
	height: 47px;
	border-radius: 50%;
	border: 3px solid rgba(0, 0, 0, 0.14);
	box-sizing: content-box;
}

#btnUpdateuser,
#btnUpdateClient,
#btnUpdateCategory,
#btnUpdateItemUnit,
#btnUpdateProduct,.csm{
	display: none;
}

@media print{
	/*
     * INVOICE
     */
  .stockoutList{
    padding-right:15px; 
  }

	.bntRemoveStockOutRow, .hide-in-print{
		display: none;
	}

  .invoice {
    padding: 30px !important;
    -webkit-print-color-adjust: exact !important;
  }

  .invoice .card-header {
    background: rgb(0,0,0,0) !important;
    margin: -60px -30px 25px -30px;
  }

  .invoice .block-header {
    display: none;
  }

  .invoice .highlight {
    background: #eee !important;
  }

  .card-header{
	margin: 0px !important;
  }

  .report-title{

  }
  .text-muted{

  }

}
.card-header{
	padding-bottom: 0px !important;
}
.report-title{
 	margin:0px; 	
}
.report-view-container{
	  margin-top: 20px;
}
.report-view-container > div > .input-group{
  margin-top: 17px;
  margin-bottom: -9px
}
.report-view-container > div > .input-group > span{
	 vertical-align: middle;
}

.stock-out-card-header,.clientDateContainer{
  display: none;
}
.clientDateContainer{

}

.products-photos{
  padding: 3px;
  margin:5px;
  width:150px;
  height: 150px;
}
.products-photos img{
   width:140px;
  height: 130px;
}


.products-photos span{
  font-weight: bolder;
}
